:root {
    --lightgreen: #43AA8B;
    --darkgreen: #254441;
    --coral: #FE5F55;
    --black: #22031F;
    --white: #F5F3F4;
}

html {
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
}

.center {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
}

body {
    width: auto;
    max-width: 100%;
    background-color: var(--lightgreen);
}
a {
    transition: .2s ease-in;
}
a:link, a:visited {
    color: var(--darkgreen);
}

p {
    color: var(--black);
    text-align: left;
}

a:hover {
    color: var(--coral);
}

.header {
    width: 70vw;
    height: auto;
    background-color: var(--white);
    margin-top: 10px;
    border-radius: 20px;
    border: 3px solid;
    border-color: var(--darkgreen);
    box-shadow: 1vw 1vw var(--darkgreen);
}

.header_name {
    font-size: 3rem;
    color: var(--black);
    box-sizing: border-box;
    padding-top: 20px;
}

.header_sub {
    font-size: 1.6rem;
    color: var(--black);
    padding-top: 0px;
    box-sizing: border-box;
}

.directory {
    padding-top: 5px;
    padding-bottom: 20px;
}

.direct {
    display: inline;
    font-size: 1.2rem;
}

.right_of {
    padding-left: 11vw;
}


.pastwork, .about {
    display:flex;
    justify-content:space-evenly;
    flex-flow: column wrap;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 5px;
    width: 70vw;
    
}
.pwtitle, .about_title, .res_title {
    font-size: 1.6rem;
    background-color: var(--white);
    border-radius: 20px;
    padding: 10px 20px;
    margin: 10px auto;
    border: 3px solid;
    border-color: var(--darkgreen);
    box-shadow: .8vw .8vw var(--darkgreen);
}

.pw {
    background-color: var(--white);
    width: 70vw;
    padding: 20px 0px;
    margin: 10px  0px;
    border-radius: 20px;
    font-size: 1.2rem;
    transition: background-color .3s ease-in;
    border: 3px solid;
    border-color: var(--darkgreen);
    box-shadow: .8vw .8vw var(--darkgreen);
}
.pw:hover {
    background-color: white;
}

.about_title {
    min-width: 10vw;
    padding: 10px;
}
.res_title {
    width: 60vw;
    margin: 10vw auto;
    padding: 2vw 0px;
}

.contact {
    font-size: .75rem;
    color: var(--black);
    background-color: var(--white);
    width: 70vw;
    height: auto;
    margin: 20px auto 20px auto;
    box-sizing: border-box;
    border-radius: 20px;
    border: 3px solid;
    border-color: var(--darkgreen);
    box-shadow: .8vw .8vw var(--darkgreen);
}
.cont {
    margin: 0px;
    padding: 10px;
}


.pwbody, .about_body {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 80%;
    margin-left: 5%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: var(--white);
    border-radius: 20px;
    border: 3px solid;
    border-color: var(--darkgreen);
    box-shadow: .8vw .8vw var(--darkgreen);
}

.pwimg {
    margin: auto 1vw;
}
.double {
    max-width: 21vw;
    display: inline;
}
.single, .pw_text {
    max-height: 40vw;
    max-width: 45vw;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 0px;
}
.about_img {
    float: left;
    width: 20vw;
    margin: 1.5vw 2vw 1vw 0px;
    border-radius: 20px;
}
.about_text {
    display: inline;
    width: 20vw;
    text-align: justify;
}

.about_body {
    width: auto;
    margin-left: 0px;
    margin-top: 10px;
    border: 3px solid;
    border-color: var(--darkgreen);
    border-radius: 20px;
    background-color: var(--white);
    box-shadow: 1vw 1vw var(--darkgreen);
}

.pw_content {
    width: 70vw;
    margin-top: 50px;
}

.pwcont_body {
    margin-top: 20px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 63vw;
    padding-left: 5%;
    padding-right: 5%;
    background-color: var(--white);
    border-radius: 20px;
    border: 3px solid;
    border-color: var(--darkgreen);
    box-shadow: .8vw .8vw var(--darkgreen);
}

@media screen and (max-width: 600px) {
    .about_img {
        width: 60vw;
        margin: 2vw;
        border-radius: 20px;
    }
    .direct {
        display: block;
        font-size: 1.2rem;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0px;
        padding-right: 0px;
        text-align: center;
    }
    .right_of {
        padding-left: auto;
    }
  }