:root {
    --lightgreen: #43AA8B;
    --darkgreen: #254441;
    --coral: #FE5F55;
    --black: #22031F;
    --white: #F5F3F4;
}

html {
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
}

.center {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
}

body {
    width: auto;
    max-width: 100%;
    background-color: var(--lightgreen);
}
a {
    transition: .3s ease-in;
}
a:link, a:visited {
    color: var(--darkgreen);
}
a:hover {
    color: var(--coral);

}

.header {
    width: 70vw;
    height: auto;
    background-color: var(--white);
    margin-top: 10px;
    border-radius: 20px;
    box-shadow: 1vw 1vw var(--darkgreen);
}

.header_name {
    font-size: 3rem;
    color: var(--black);
    box-sizing: border-box;
    padding-top: 20px;
}

.header_sub {
    font-size: 1.6rem;
    color: var(--black);
    padding-top: 0px;
    box-sizing: border-box;
}

.directory {
    padding-top: 10px;
    padding-bottom: 20px;
}

.direct {
    display: inline;
    font-size: 1.2rem;
}

.right_of {
    padding-left: 11vw;
}


.pastwork {
    display:flex;
    justify-content:space-evenly;
    flex-flow: column wrap;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 5px;
    width: 70vw;
    
}
.pwtitle {
    font-size: 1.6rem;
    background-color: var(--white);
    border-radius: 20px;
    padding: 10px 20px;
    margin: 10px auto;
    box-shadow: .8vw .8vw var(--darkgreen);

}
.pw {
    background-color: var(--white);
    width: 70vw;
    padding: 20px 0px;
    margin: 10px  0px;
    border-radius: 20px;
    font-size: 1.2rem;
    transition: background-color .3s ease-in;
    box-shadow: .8vw .8vw var(--darkgreen);
}
.pw:hover {
    background-color: white;
}

.contact {
    font-size: .75rem;
    color: var(--black);
    background-color: var(--white);
    width: 70vw;
    height: auto;
    margin: 20px auto 10px auto;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: .8vw .8vw var(--darkgreen);
}
.cont {
    margin: 0px;
    padding: 10px;
}


.pwbody {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 80%;
    margin-left: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

.pwimg {
    width: 90%;
}